<html>
   <body>
   	<!--send more stuff to uploader-->
      <form action = "http://localhost:8000/serveruploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "myfile" />
          <select id="course" name="course">
		    <option value="Irish">Irish</option>
		    <option value="Irene-ology">Irene-ology</option>
		    <option value="Irunian-Physics">Irunian-Physics</option>
		    <option value="Irenina">Irenina</option>
		  </select>
		   <select id="prof" name="prof">
		    <option value="Gururaj Sir">Gururaj Sir</option>
		    <option value="Guruprasad Sir">Guruprasad Sir</option>
		    <option value="Gururaj Prasad Sir">Gururaj Prasad Sir</option>
		    <option value="Guruprasad Raj Sir">Guruprasad Raj Sir</option>
		  </select>
         <input type = "submit"/>
      </form>
   </body>
</html>